# Ex1 - Filtering and Sorting Data

This time we are going to pull data directly from the internet.
Special thanks to: https://github.com/justmarkham for sharing the dataset and materials.

### Step 1. Import the necessary libraries

In [5]:
import pandas as pd
import numpy as np

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv).

### Step 3. Assign it to a variable called chipo.

In [7]:
url = 'https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv'
chipo = pd.read_csv(url, sep='\t')
chipo.head()

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98

### Step 4. How many products cost more than $10.00?

In [13]:
prices = [float(value[1:-1]) for value in chipo.item_price]
chipo.item_price = prices
chipo_filtered = chipo.drop_duplicates(['item_name','quantity','choice_description'])
chipo_one = chipo_filtered[chipo_filtered.quantity == 1]
chipo_one[chipo_one['item_price']>10]

,order_id,quantity,item_name,choice_description,item_price
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",10.98
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",11.75
13,7,1,Chicken Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",11.25
23,12,1,Chicken Burrito,"[[Tomatillo-Green Chili Salsa (Medium), Tomati...",10.98
39,19,1,Barbacoa Bowl,"[Roasted Chili Corn Salsa, [Fajita Vegetables,...",11.75
...,...,...,...,...,...
4593,1825,1,Carnitas Bowl,"[Roasted Chili Corn Salsa, [Rice, Sour Cream, ...",11.75
4594,1825,1,Barbacoa Bowl,"[Roasted Chili Corn Salsa, [Pinto Beans, Sour ...",11.75
4607,1829,1,Steak Burrito,"[Tomatillo Green Chili Salsa, [Rice, Cheese, S...",11.75
4610,1830,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",11.75
4611,1830,1,Veggie Burrito,"[Tomatillo Green Chili Salsa, [Rice, Fajita Ve...",11.25

### Step 5. What is the price of each item? 
###### print a data frame with only two columns item_name and item_price

In [18]:
chipo_one[['item_name', 'item_price']]

                                  item_name  item_price
0              Chips and Fresh Tomato Salsa        2.39
1                                      Izze        3.39
2                          Nantucket Nectar        3.39
3     Chips and Tomatillo-Green Chili Salsa        2.39
5                              Chicken Bowl       10.98
...                                     ...         ...
4602                       Barbacoa Burrito        9.25
4607                          Steak Burrito       11.75
4610                          Steak Burrito       11.75
4611                         Veggie Burrito       11.25
4612                          Carnitas Bowl        9.25

[1806 rows x 2 columns]

### Step 6. Sort by the name of the item

In [20]:
chipo_one.sort_values(by='item_name')

,order_id,quantity,item_name,choice_description,item_price
721,298,1,6 Pack Soft Drink,[Nestea],6.49
341,148,1,6 Pack Soft Drink,[Diet Coke],6.49
357,154,1,6 Pack Soft Drink,[Coke],6.49
298,129,1,6 Pack Soft Drink,[Sprite],6.49
3141,1253,1,6 Pack Soft Drink,[Lemonade],6.49
...,...,...,...,...,...
1395,567,1,Veggie Soft Tacos,"[Fresh Tomato Salsa (Mild), [Pinto Beans, Rice...",8.49
2384,948,1,Veggie Soft Tacos,"[Roasted Chili Corn Salsa, [Fajita Vegetables,...",8.75
1699,688,1,Veggie Soft Tacos,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",11.25
738,304,1,Veggie Soft Tacos,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",11.25
781,322,1,Veggie Soft Tacos,"[Fresh Tomato Salsa, [Black Beans, Cheese, Sou...",8.75

### Step 7. What was the quantity of the most expensive item ordered?

In [27]:
chipo_one.sort_values(by='item_price', ascending=False).item_name[0]

'Chips and Fresh Tomato Salsa'

### Step 8. How many times was a Veggie Salad Bowl ordered?

In [35]:
chipo_salad = chipo[chipo.item_name=="Veggie Salad Bowl"]
len(chipo_salad)

18

### Step 9. How many times did someone order more than one Canned Soda?

In [39]:
chipo_soda = chipo[(chipo.item_name == "Canned Soda") & (chipo.quantity > 1)]
len(chipo)

order_id                                                          12789
quantity                                                             42
item_name             Canned SodaCanned SodaCanned SodaCanned SodaCa...
choice_description    [Sprite][Mountain Dew][Diet Coke][Diet Dr. Pep...
item_price                                                        45.78
dtype: object